<app-header></app-header>
<div class="container">
    <br>
    <div class="d-flex justify-content-center">
        <h2>ADD NEW PRODUCTS</h2>
    </div>
    <hr>
    <br>
    
    <div class="row justify-content-center">
        <form class="col-sm-12 col-md-6" [formGroup]="NewProductForm">
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" id="exampleInputTitle1" formControlName="title" placeholder="Enter product title">
            </div>
            <div class="form-group">
                <label>Catagory</label>
                <select class="form-control" formControlName="catagory">
                    <ng-container  *ngFor="let catagory of Catagorys; let i=index">
                      <option value="{{i+1}}">{{catagory}}</option>
                  </ng-container>
                  </select>
              </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Product Image</label>
                <input type="file" class="form-control-file" (change)="onFileSelect($event)" id="exampleFormControlFile1">
            </div>

            <div class="form-group">
              <label for="exampleInputdescription">Description</label>
              <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3" placeholder="Enter something about this product"></textarea>
             </div>
            <div class="form-group">
                <label for="exampleInputprice">Price</label>
                <input type="number" formControlName="price" class="form-control" placeholder="price">
            </div>
            <div class="form-group">
                <label for="exampleInputquantity">Available Quantity</label>
                <input type="number" formControlName="quantity" class="form-control" placeholder="quantity">
            </div>
            <div class="form-group">
                <label for="exampleInputshortdesc">Short Description</label>
                <input type="text" formControlName="short_desc" class="form-control" placeholder="short Description">
            </div>
            <button type="submit" [disabled]="!NewProductForm.valid" (click)="submit()" class="btn btn-primary btn-block">ADD New Product</button>
          </form>
    </div>
      <br>
      <br>
</div>