<app-header></app-header>

<div class="site-wrap">
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a routerLink="/home" >Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
      </div>
    </div>
  </div>

<!--   <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-9 order-2">
          <div class="row">
            <div class="col-sm-4" *ngFor="let p of products |filter:SearchText | slice: (p-1) * page : (p-1) * page + page;">
                <div class="card" style="width: 14rem; margin-top:1rem">
                  <img class="card-img-top image-resize" src="{{this.image+p.image}}" alt="{{p.title}}">
                  <div class="card-body">
                    <small class="mb-0">{{p.description |slice:0:100}}...</small>
                    <p class="text-primary font-weight-bold">{{p.price |currency:'USD'}}</p>
                    
                    <button class="btn btn-primary btn-block" (click)="AddToCart(p.id)">ADD TO CART</button>
                    <button *ngIf="isAdmin" class="btn btn-danger btn-block" style="margin-top: 3px;" (click)="DELETE(p.id)">DELETE</button>
                  </div>
                </div>
            </div>
        </div>
          <nav aria-label="Page navigation example">
            <div class="d-flex justify-content-center" style="margin-top: 30px; margin-bottom: 30px;">
              <ngb-pagination
              [(page)]="p"
              [pageSize]="page"
              [collectionSize]="products.length"></ngb-pagination>
              </div>
            </nav>
        </div>
        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><a class="d-flex"><span>Men</span> <span class="text-black ml-auto">(2,220)</span></a></li>
              <li class="mb-1"><a class="d-flex"><span>Women</span> <span class="text-black ml-auto">(2,550)</span></a></li>
              <li class="mb-1"><a class="d-flex"><span>Children</span> <span class="text-black ml-auto">(2,124)</span></a></li>
            </ul>
          </div>
          
          <div class="border p-4 rounded mb-4">
            <div class="md-form mt-0">
              <input type="text" class="form-control" placeholder="Search" [(ngModel)]="SearchText"/>
            </div>
          </div>
        </div>
      </div>   
    </div>
  </div> -->

  <div class="site-section">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-9 order-2">

          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
              <div class="d-flex">
                <div class="dropdown mr-1 ml-md-auto">

                </div>

              </div>
            </div>
          </div>
          <div class="row mb-5">

            <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let p of products |filter:SearchText | slice: (p-1) * page : (p-1) * page + page;" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <img src="{{this.image+p.image}}" alt="{{p.title}}" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <a style="text-decoration:none;color: inherit;" routerLink="/product/{{p.id}}">
                  <h3><a>{{p.title}}</a></h3>
                  <p class="mb-0">{{p.description |slice:0:100}}...</p>
                  <p class="text-primary font-weight-bold">{{p.price |currency:'USD'}}</p>
                  </a>
                  <button class="btn btn-primary btn-block" (click)="AddToCart(p.id)">ADD TO CART</button>
                  <button *ngIf="isAdmin" class="btn btn-danger btn-block" style="margin-top: 3px;" (click)="DELETE(p.id)">DELETE</button>
                </div>
              </div>
            </div>
           
          </div>
          <nav aria-label="Page navigation example">
            <div class="d-flex justify-content-center" style="margin-top: 30px; margin-bottom: 30px;">
              <ngb-pagination
              [(page)]="p"
              [pageSize]="page"
              [collectionSize]="products.length"></ngb-pagination>
              </div>
            </nav>
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><a  class="d-flex"><span>Men</span> <span class="text-black ml-auto">(2,220)</span></a></li>
              <li class="mb-1"><a  class="d-flex"><span>Women</span> <span class="text-black ml-auto">(2,550)</span></a></li>
              <li class="mb-1"><a  class="d-flex"><span>Children</span> <span class="text-black ml-auto">(2,124)</span></a></li>
            </ul>
          </div>
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Search Products</h3>
            <div class="md-form mt-0">
              <input type="text" class="form-control" placeholder="Search" [(ngModel)]="SearchText"/>
            </div>
          </div>
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter By</h3>
            <div class="md-form mt-0">
              <select class="form-control" (change)="onChange($event.target.value)">
                <ng-container  *ngFor="let filter of Filters; let i=index">
                  <option [value]="i">{{filter}}</option>
              </ng-container>
              </select>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>